.container{
border: 2px solid red;
background-color: rgb(196, 134, 54); 
width: 800px;
height:600px;
margin:auto;
}
.item{
border: 2px solid blue;
margin:10px;
padding: 10px;
background-color: rgb(121, 174, 155);
font-style: italic;
}
h3{
    color: rgb(155, 11, 11);
}
#fruit{
float:right;
width:48%;
}
#computer{
float:left;
width:40%;
}
#stationary{
    float:left;
    width:90%; 
    margin-top: 50px;
    height:30%;
} 
h3,p{
    text-align:center;
    text-align:justify;
}
h1{
    font-style: inherit;
    text-align: center;
}