.container {
    background-color: aqua;
}

/* (10px=1rem)this is the most importent property */
.box {
    width: 200px;
    height: 200px;
    background-color: blue;
    /* margin: auto;  */
    position: relative;
    animation-name: rani;
    animation-duration: 8s;
    animation-iteration-count: 3;
    /* animation-fill-mode: forwards;(after animation stop)/alternate  */
    /* animation-timing-function: ease-in; (starting-slow then fast) */
    /* animation-timing-function: ease-out;(starting-fast then slow) */
    /* animation-delay: 3s; */
    /* animation-direction: reverse;(alternat) */
}

@keyframes rani {
    0% {
        top: 0px;
        left: 0px;
    }

    25% {
        top: 250px;
        left: 0px;
    }

    75% {
        top: 250px;
        left: 750px;

    }

    100% {
        top: 0px;
        left: 750px;
    }
}

/* @keyframes rani {
    from {
        width: 20px;
    } 

    to {
        width: 900px;
    }
} */