body{
    background-color: white;
    color:white;
    margin:0px;
    padding:0px;
    font-size: 30px;
    
}

section{
    display:flex;
    flex-direction: column;
    margin:0px 50px;
    align-items: center;
    height:300px;
    justify-content: center; 
    /* (ye vertically center kr deta he content ko) */
}
.nav{
    display:flex;
}
li{
    list-style: none;
    padding:10px;
    font-size: 20px;
}
section:before{
    content:"this is the content"
}
header::before{
    background-image: url(https://images4.fanpop.com/image/photos/22600000/Night-beautiful-nature-22666201-1920-1200.png) ;
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
    opacity: 0.4px;
}
