
.container{
    margin: 30px;
    padding:50px;
    /* border: 2px solid black; */
    background-color: rgb(204, 200, 200);
    border-radius: 10px;
    height: 80vh;
    width: 25vw;
    margin-left: 25%;
   
}
.box{
    /* border: 2px solid black; */
    background-color: white;
}
.img img{
   /* border: 2px solid red; */
   margin-left: 2px;
   width: 24.5vw;
   height: 250px;
   border-radius: 20px;
    
}
.p .btn{
    margin: 20px;
    margin-bottom: 10px;
    background-color: white;
    border: none;
    font-size: 20px;
}
.p .btn1{
    /* margin: 20px; */
   margin-left: 125px;
    background-color: rgb(168, 168, 183);
    color:blue;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    width: 150px;
    border: none;
    margin-bottom: 20px;
}
.p h1{
    margin-left: 10px;
}
.p p{
    padding: 6px;
}