.box {
    width: 200px;
    height: 200px;
    background-color: var(--box-color);
    margin: 10px;
    border: 2px solid var(--primary-color);
    box-shadow: 10px 10px var(--box-color);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    --box-color: blue;
    --primary-color: black;
}