.box{
    border:2px solid blue;
    width:150px;
    height:150px;
    margin:3px;
    display:inline-block;
}
.container{
    border:2px solid black;
    background-color: yellow;
    height:1000px;
    width:5000px
}
/* by defaulte this is static position in css  */
#box1{ 
    /* absolute:- one box over lapping to next box  or relative to the position of its first parent */
    /* this is move to our parent element */
    position:absolute;
    background-color: rgb(173, 75, 173);
    top:70px;
    left:50px;
    z-index:1;
}
#box2{  
    /* relative:-relative to its normal pasition and will leave a gap  at its normal position */
    position:relative;
    background-color: aqua;
    top:80px;
    left:30px;
}
#box3{
    /* fixed:- this fixed on our position and they are not move on this position  or position the element relative to the browser window*/
      position:fixed;
      background-color: rgb(242, 114, 114);
    left:5px;
    bottom:50px
} 
#box4{
    /* sticky:- this is fixed on our fixed position on middiel of page */
    position:sticky;
    background-color: rgb(214, 214, 240);
    left:3px;
    top:3px;
}
h3{
    font-size: 20px;
    color:rgb(8, 116, 116);
    font-style: italic;
}

