input{
    display:block;
    margin:20px;
}
.container{
    margin:auto;
    width:300px;
}
input[type="text"]{
    padding:20px;
    border: 2px solid black;
}
a[target]{
    font-size: 60px;
    color:blueviolet; 
}
/* this will applied to css only third child */
li:nth-child(3){
    color:rgb(255, 0, 238);
}
/* li:nth-child(2n+0){
    color:red;
} */
li:nth-child(even){
    background-color:blue;
}