.container {
    display: flex;
}

.card {
    /* border:2px solid red; */
    padding: 20px;
    margin: 32px;
    background-color: bisque;
    /* box-shadow: OFFSET-X,OFFSET-Y,COLOR; */
    box-shadow:20px 13px pink;
    /* box-shadow:-50px -30px pink; */
    /* box-shadow: OFFSET-X,OFFSET-Y, BLUR-RADIUS,SPREAD-RADIUS(strength),,COLOR; */
    /* box-shadow: 20px -15px 20PX 10PX pink; */
    /* box-shadow:inset 15px 5px yellow;  */
    /* text-shadow: 50PX 10PX green; */
   
}
h1{
    text-shadow: 5px 5px 5px rgb(177, 55, 10);
}