.logo img{
    height:60px;
    width:200px;
    /* background-color: aquamarine; */
}
nav{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}
.right ul{
    display: flex;
    gap:40px;
}
.right ul li{
    list-style: none;
    font-size: 18px;
}
.right ul li img{
    width:40px;
    height:30px;
}